html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

main {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

#project-content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#project-content-header,
#task-content-header {
    display: flex;
    height: var(--content-header-height);
    align-items: center;
}

#project-header,
#task-header {
    margin-inline-end: auto;
    margin-inline-start: 10px;
}

.btn-add-item {
    height: var(--add-item-btn-height);
    margin-inline-end: 10px;
}

#task-content {
    flex: 8;
}