html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

main {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}


#project-content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#project-content-header,
#task-content-header {
    display: flex;
    height: var(--content-header-height);
    align-items: center;
}

#project-header,
#task-header {
    margin-inline-end: auto;
    margin-inline-start: 10px;
}

.btn-add-item {
    height: var(--add-item-btn-height);
    margin-inline-end: 10px;
}

#task-content {
    flex: 8;
}

/* Project List layout */
#project-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
}

/* Task area layout */
#project-info-container {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 1fr 60px 60px;
}

#project-info-name {
    grid-area: 1 / 1 / 1 / 1;
}

#project-info-desc {
    grid-area: 2 / 1 / 3 / 2;
}

#project-edit {
    grid-area: 1 / 2 / 3 / 3;
}

#project-delete {
    grid-area: 1 / 3 / 3 / 4;
}

#project-edit,
#project-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-project-edit,
#btn-project-delete {
    width: 32px;
    height: 32px;
    transition: 0.2s ease;
}

#project-info-name,
#project-info-desc {
    padding-inline-start: 10px;
}