@font-face {
    font-family: 'Fruktur';
    src: url('../fonts/fruktur-regular-webfont.woff2') format('woff2'),
        url('../fonts/fruktur-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* div {
    border: 1px solid var(--font-color);
} */

header h1,
#project-header,
#task-header,
#project-info-name,
#project-info-desc,
.task-title-header,
.task-desc,
.task-due-date-label,
.task-due-date-info,
.task-priority-info,
.task-notes {
    user-select: none;
}

#project-content,
#task-content {
    border: 1px solid var(--font-color);
}

#btn-add-project,
#btn-add-task {
    transition: 0.2s ease;
}

#btn-add-project:hover,
#btn-add-task:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#btn-add-project:active,
#btn-add-task:active {
    transform: scale(0.95);
}



/* Project Display */
.project-list-item {
    font-size: 1.2em;
    font-weight: bold;
    padding-inline-start: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.project-list-item:hover {
    /* background-color: var(--list-item-hover-background); */
    transform: scale(1.05);
    cursor: pointer;
}

.project-list-item:active {
    transform: scale(0.95);
}

.selected-project {
    background-color: var(--selected-project-background);
}

/* Task display area (includes project control bar) */
#btn-project-edit:hover,
#btn-project-delete:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#btn-project-edit:active,
#btn-project-delete:active {
    transform: scale(0.95);
}

.task-item-checkbox {
    transition: 0.2s ease;
}

.task-item-checkbox:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.task-item-checkbox:active {
    transform: scale(0.9);
}

.btn-task-sort {
    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px solid var(--font-color);
    padding-block: 3px;
    padding-inline: 15px;
    border-radius: 20px;
    transition: 0.2s ease;
}

.btn-task-sort:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-task-sort:active {
    transform: scale(0.9);
}

.task-sort-active {
    background-color: #008f8f;
    color: #000000;
}

.task-list-header-label {
    margin-inline-start: 10px;
}

.task-item {
    border: 1px solid var(--font-color);
    border-radius: 10px;
}

/* Custom checkbox */

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-custom-checkbox {
    max-width: 32px;
    max-height: 32px;
    transition: 0.2s ease;
}

.custom-checkbox input {
    display: none;
}

.hide {
    display: none;
}

#priority-radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-block: 10px;
}

.priority-radio-button {
    display: none;
}

.priority-radio-label {
    padding-block: 3px;
    padding-inline: 9px;
    border-radius: 18px;
    transition: 0.2s ease;
}

.selected-priority {
    transform: scale(1.2);
    box-shadow: 0 0 10px 2px var(--font-color);
}